body {
    margin: 0;
    background: #E6E7E8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

.site-header {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #c0c0c0;
    font-size: 1rem;
    font-weight: 500;
    max-width: 28%;
    word-wrap: break-word;
    overflow: hidden;
}

.description {
    display: inline-block;
    font-family: 'Inter', sans-serif;
    min-height: 6.5em;
}

#container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    filter: url(#threshold) blur(0.6px);
}

#text1, #text2 {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80pt;
    text-align: center;
    user-select: none;
}

.footer-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding-bottom: 1.5rem;
}

.chat-button {
    display: flex;
    align-items: center;
    background-color: #DCDCDC;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    padding: 0.65rem 1.2em 0.65rem 1rem;
    border-radius: 32px;
    transition: background-color 0.3s ease;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.chat-button:hover {
    background-color: #c0c0c0;
}

.telegram-icon {
    flex-shrink: 0;
    width: 21px;
    height: 21px;
    object-fit: contain;
    border-radius: 50%;
    margin-left: -3px;
}

.footer-rights {
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    color: #666;
    text-align: center;
    opacity: 0.6;
    position: relative; /* Necesario para controlar el efecto dentro */
    display: inline-block; /* No afecte al layout */
    width: 100%;  /* Asegura que no se salga del contenedor */
    overflow: hidden;    /* Para evitar el desbordamiento que cause saltos */

}

